{% load static %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/htmx.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/icons/feather-icon/feather.min.js' %}"></script>
<script src="{% static 'js/icons/feather-icon/feather-icon.js' %}"></script>
<script src="{% static 'js/scrollbar/simplebar.js' %}"></script>
<script src="{% static 'js/scrollbar/custom.js' %}"></script>
<script src="{% static 'js/config.js' %}"></script>
<script src="{% static 'js/sidebar-menu.js' %}"></script>
<script src="{% static 'js/sweet-alert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'js/select2/select2-cascade.js' %}"></script>
<script src="{% static 'js/datepicker/date-picker/datepicker.js' %}"></script>
<script src="{% static 'js/datepicker/date-picker/datepicker.en.js' %}"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datepicker/daterange-picker/moment.min.js' %}"></script>
<script src="{% static 'js/datepicker/daterange-picker/daterangepicker.js' %}"></script>
<script src="{% static 'js/datepicker/date-time-picker/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'js/datepicker/date-time-picker/moment.min.js' %}"></script>
<script src="{% static 'js/datepicker/date-time-picker/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'js/datepicker/date-time-picker/datetimepicker.custom.js' %}"></script>
<script src="{% static 'js/form-validation-custom.js' %}"></script>